<html>
    <head>
        <title>assignment</title>   

 <meta charset="utf-8">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
   
      <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">


</style>

</head>
<body>
  <header>
  <div class="container" >
       <a href="assignment.html">  <img src="meavita.png" class="pull-left" style="filter: grayscale(10%);max-height: 200px;max-width: 150px;float: left"> </a>
            <nav >
            <ul>

              <li class="dropdown">
              <a href="assignment.html" class="dropbtn"> About Us </a>
          
              </li>

              <li class="dropdown">
              <a href="#" class="dropbtn">Update Post</a>
              <div class="dropdown-content">
                <a href="update_post.html">Style </a>
                <a href="#">Beauty </a>
                <a href="#">Celebs </a>
      
              </div>
            </li>

               <li class="dropdown">
              <a href="#" class="dropbtn"> media </a>
              <div class="dropdown-content">
 
                <a href="#">Photos</a>
                <a href="#">Videos</a>
                      
              </div>
              </li>

            
          </ul>
            </nav>
  </div>
  </header>

 <!--carousel-->
 
       <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <div class="container" id="drop" style="margin: 0;padding: 0;">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
         </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active boxes">
    <div class="box">
      <h1 class="pull-left" style="margin: 20%"> <center class="upp"> download the app now  </center> </h1> </div>
      <div class="box">
      <img src="img1.jpg" alt="abc" class="pull-right" height=550px> </div>
      
</div>
    
      <div class="item boxes" >
      <div class="box">
         <h1 class="pull-left" style="margin: 20%"> <center class="upp"> get your website done in 15 min </center> </h1> </div>
         <div class="box">
      <img src="img2.jpg" alt="abc" class="pull-right" height=550px>
      </div> </div>

<div class="item boxes" >
<div class="box">
<h1 class="pull-left" style="margin: 20%"> <center class="upp"> take your website online in min </center> </h1> </div>
<div class="box">
<img src="img3.jpg" alt="abc" class="pull-right" height=550px> 
</div> </div>


      <div class="item boxes" >
<div class="box">
            <h1 class="pull-left" style="margin: 20%" > <center class="upp"> update your website on your own </center> </h1>  </div>
            <div class="box">
  <img src="img4.jpg" alt="abc" class="pull-right" height=550px> </div> </div>
 

      <div class="item boxes" >
      <div class="box">
      <h1 class="pull-left" style="margin: 20%" > <center class="upp"> Rank better on google </center> </h1> </div>
      <div class="box">
   <img src="img5.jpg" alt="abc" class="pull-right" height=550px> </div>
      
  </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    </div>
</div>
<!--products --> 

<section >
  <div class="container" style="padding: 0">
  
  <h1> Our Products</h1>
  <div class="boxes1">
    <div class="box1">
   <a href="home.html"> <img src="fashion.png">
    <p> An Activist and Sci-Fi Fan on How to Survive the End of the World</p> </a>
    </div>
    <div class="box1" >
    <a href="#">  <img src="fashion2.jpg">
      <p>  I Finally Found the Perfect Work Bag </p> </a>
    </div>
     <div class="box1" >
      <a href="#">   <img src="fashion3.jpg">
      <p> I’m Trying to Be a Little Less Grateful These Days</p> </a>
    </div>
    <div class="box1" >
      <a href="#">   <img src="fashion4.jpg">
      <p> How Pregnancy Changed My Style, in 30 Mirror Selfies</p> </a>
    </div>
  </div>
  </div>
</section>

<!--media-->


<!-- posts-->


<!--contact us-->

<footer>
  <div class="container">
  <div class="boxes2">
  <div class="box2">
  <h1> Contact us</h1>
    <ul class="social" style="padding: 0;margin: 0">
      <li> <a  id="twit" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
      <li> <a  id="face" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
      <li> <a  id="pin" href="#"> <i class="fa fa-pinterest"> </i> </a> </li>
      <li> <a  id="goog" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
      <li> <a  id="enve" href="#"> <i class="fa fa-envelope"> </i> </a> </li>
    </ul>
  </div>
  <div class="box2" style="float: right;margin-top: 15px;margin-right: 10%">
    <div ng-controller="ExampleController">
  <form novalidate class="css-form">
   <input id="a" type="text" ng-model="user.name" placeholder="Your Name" required > <br>
   <input id ="a" type="email" ng-model="user.email" placeholder="your email" required> <br>
   <input  id ="a" type="integer" ng-model="user.mobile" placeholder="your mobile" required > <br>
   <input id ="a" type="text" ng-model="user.Subject" placeholder="Subject" > <br>
  <textarea id ="a" rows="4" cols="50" ng-model="user.mess" placeholder="your message" > 
   </textarea> <br>
      <input id ="a" style="background-color:#7cc576;color: white;font-size: 19px;font-weight: 20px;border:2px solid #7cc576" type="submit" ng-click="update(user)" value="Send Message">
  </form>

</div>

</div>

<script>
  angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.master = {};

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
</script>


</div>
  </div>
</footer>
</body>
</html>






