<html>
    <head>
        <title>assignment</title>   

 <meta charset="utf-8">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
   
      <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">


</style>

</head>
<body>
  <header>
  <div class="container" >
         <a href="assignment.html"> <img src="meavita.png" class="pull-left" style="filter: grayscale(10%);max-height: 200px;max-width: 150px;float: left"> </a>
            <nav >
            <ul>

              <li class="dropdown">
              <a href="assignment.html" class="dropbtn"> About Us </a>
          
              </li>

              <li class="dropdown">
              <a href="#" class="dropbtn">Update Post</a>
              <div class="dropdown-content">
                <a href="update_post.html">Style </a>
                <a href="#">Beauty </a>
                <a href="#">Celebs </a>
      
              </div>
            </li>

               <li class="dropdown">
              <a href="#" class="dropbtn"> media </a>
              <div class="dropdown-content">
 
                <a href="#">Photos</a>
                <a href="#">Videos</a>
                      
              </div>
              </li>

            
          </ul>
            </nav>
  </div>
  </header>

 <!--carousel-->
 <section class="para">
   <div class="container">
     <h1> DO Get Your Clothes in a Bunch: Ruching Is Very, Very In</h1>
      <hr>

      <article>
      <p >
  Man Repeller’s esteemed dictionary of fashion terms defines “ruche” thusly: “A ruche, pronounced roosh, is the gathering of a strip of fabric. (Essentially, it makes the fabric ripple, like it tasted something sour). We tend to use it in the context of ‘ruching,’ pronounced roo-shing: ‘The rushing on the dress was just divine.’”

</p>
<p>
  And that, folks, is what we’re here to celebrate today. Ruching is a longtime designer darling: Norma Kamali’s obsession with the classic gathering technique began in the 80s, Junya Watanabe’s in the 90s. You probably remember it from the early 2000s, when it helped body-con dresses be extra “con.” It also turns up often on maternity clothes, a tactical device used to play down swollen boobs or help life-housing bellies breathe free.
</p>

<p>
  Of course, the most fun ruched pieces to wear — whether the technique is used sparingly or covers the entire garment — are the ones where a touch of crinkling puts on a major show. Sure, ruching’s main purpose is to help clothes cling; liven up their silhouette. But if it is experimentally snaking all over a bright purple dress, it’s doing all that and more.

</p>

<p>
  Designers are more than wise to this fact. In recent seasons (read: since Spring 2017), ruching has undergone something of a renaissance. The ripple effect began last fall, with Donatella Versace, Consuelo Castiglioni, Simon Porte Jacquemus, Phillip Lim, Christophe Lemaire and Sarah-Linh Tran, and more industry notables. In keeping with the rise of DIY and the ever-growing, ever-adapting athleisure movement, designers embraced parachute-style ruching: sporty, bungee-cord-accented pulls that you yourself can tug on to alter the look of your piece. Some came on flashy dresses (Versace), some on asymmetric tanks that played well with demure midi skirts (Lemaire).
</p>

<p>
  A year later, ruching play — especially that of the drawstring variety — has not slowed down. To wit: at Fendi, the ruching along the arms of a chiffon, peekaboo-shoulder, horizontally-striped dress played up not only its loud pattern but dynamic shape. At Calvin Klein, it helped elevate the look of waterproof nylon anoraks. At Y/Project, an oversized strong-shouldered blazer complemented a bunched-up pedal-pushers-and-sweatshirt duo. These are but a handful of Spring 2018’s ruching sightings — others occurred at Aalto, Simone Rocha, Molly Goddard, Tom Ford, Saint Laurent, Tod’s, 3.1 Phillip Lim and Carven, to name a few.

</p>
<p>
  As for the “street style” way to wear the trend, well, that’s easy: start with a hard-to-ignore ruched pant, skirt or shirt and don’t be afraid to add even more to the ensemble (with textured shoes, a bold handbag, a statement tee or a bright, contrasting knit). Given that your ruched piece will likely be fluid of silhouette, we recommend a more structured piece up top or down below. Something with heft, something with a spine (and yes, unexpected shapes are welcome).

</p>
<p>
  Thus ends our speech. Now, gather yourselves, it’s shopping time.

</p>
</article>

<aside class="box5">
  <img src="update1.jpg" >
</aside>


   </div>
 </section>

 <!--products --> 

<section class="fromr">
<div class="container">
<ul class="nav nav-tabs">
 <button class="tablinks active" onclick="openCity(event, 'London')">Comments</button>
  <button class="tablinks" onclick="openCity(event, 'Lon')">Websites.co</button>
  </ul>
</div>
 <div id="London" class="tabcontent active" >
 <span> <i class="fa fa-user" style="float: left;padding-right: 20px"></i></span>
 <form id="fromw" style="margin-left: 10%;">
  <textarea id ="enter" rows="4" cols="50" ng-model="user.mess" placeholder="Discussion" style="border-radius: 20px"> 
   </textarea> <br>
      <input id ="enter" style="background-color:#7cc576;border-radius: 5px;color: white;font-size: 19px;font-weight: 20px;border:2px solid #7cc576" type="submit" ng-click="update(user)" value="Enter">
  </form>
</div>

<div id="Lon" class="tabcontent nonactive" s>
  <h3>Websites</h3>
  <p>Fashion blog</p>
</div>
</section>

<!--media-->


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!-- posts-->


<!--contact us-->

<footer>
  <div class="container">
  <div class="boxes2">
  <div class="box2">
  <h1> Contact us</h1>
    <ul class="social" style="padding: 0;margin: 0">
      <li> <a  id="twit" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
      <li> <a  id="face" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
      <li> <a  id="pin" href="#"> <i class="fa fa-pinterest"> </i> </a> </li>
      <li> <a  id="goog" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
      <li> <a  id="enve" href="#"> <i class="fa fa-envelope"> </i> </a> </li>
    </ul>
  </div>
  <div class="box2" style="float: right;margin-top: 15px;margin-right: 10%">
    <div ng-controller="ExampleController">
  <form novalidate class="css-form">
   <input id="a" type="text" ng-model="user.name" placeholder="Your Name" required > <br>
   <input id ="a" type="email" ng-model="user.email" placeholder="your email" required> <br>
   <input  id ="a" type="integer" ng-model="user.mobile" placeholder="your mobile" required > <br>
   <input id ="a" type="text" ng-model="user.Subject" placeholder="Subject" > <br>
  <textarea id ="a" rows="4" cols="50" ng-model="user.mess" placeholder="your message" > 
   </textarea> <br>
      <input id ="a" style="background-color:#7cc576;color: white;font-size: 19px;font-weight: 20px;border:2px solid #7cc576" type="submit" ng-click="update(user)" value="Send Message">
  </form>

</div>

</div>

<script>
  angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.master = {};

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
</script>


</div>
  </div>
</footer>


</body>

</html>






